%h1 LaundryRooms
%button 
    Login
%button 
    Sign up
=image_tag "craftylogo.png", class: "logo"

- @laundry_rooms.each do |laundry_room|
    %p= laundry_room.schedule.next_occurrences(30) 
        

