%sectionb
.image
  =image_tag "crafty_laundry.png", :class => "logo"
%section
  .button1
  = link_to "Sign up", new_user_registration_path unless current_page? new_user_registration_path
  .button2 
  = link_to "Login", new_user_session_path  

- @laundry_rooms.each do |laundry_room|
  -laundry_room.schedule.next_occurrences(30).each do |slot|
    = link_to slot.beginning_of_hour.to_formatted_s(:short), laundry_room_create_booking_path(laundry_room,time: slot.beginning_of_hour.to_formatted_s(:short))