%h1 LaundryRooms
%button 
    Login
%button 
    Sign up
=image_tag "craftylogo.png", class: "logo"

- @laundry_rooms.each do |laundry_room|
    -laundry_room.schedule.next_occurrences(30).each do |slot|
        %p= slot.beginning_of_hour.to_formatted_s(:short) 
        

